body {
  max-width: 1200px;
  margin: 0 auto;
}

.city-table {
  width: 100%;
  border: 2px solid black;
}
.city-table__active {
  font-size: 15px;
  background: #FF0000;
}

.header {
  font-family: "OpenSans", sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 20px 0;
}
.header > a {
  text-decoration: none;
  color: #282c34;
}
.header > a:hover {
  color: blue;
}

.main-button {
  display: inline-block;
  margin: 5px;
  min-width: 75px;
}
.main-button .arrow {
  transition: 0.3s ease;
}
.main-button .arrow_active {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

/*# sourceMappingURL=main.css.map */
