$red: #FF0000;
$grey: #282c34;
$max-width: 1200px;

body {
  max-width: $max-width;
  margin: 0 auto;
}

.city-table {
  width: 100%;
  border: 2px solid black;

  &__active {
    font-size: 15px;
    background: $red;
  }
}

.header {
  font-family: "OpenSans", sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 20px 0;

  & > a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: blue;
    }
  }
}

.main-button {
  display: inline-block;
  margin: 5px;

  min-width: 75px;
  & .arrow {
    transition: 0.3s ease;

    &_active {
      transform: rotate(180deg);
      transition: 0.3s ease;
    }
  }
}